# Use PHP5CGI as default
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]		

	
	
	
</IfModule>
<IfModule mod_php5.c>
php_value upload_max_filesize 8M
</IfModule>