body {
	background-color: #fff;
	margin: 40px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}

h1 {
	color: #444;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	text-decoration:underline;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

li {
	list-style-image: url(../images/detail.png);
	padding: 0;
	margin: 0 0 4px 0;
}

.error {
	color:#FF0000;
}