  CAPTION.MYTABLE
  {
     background-color:#8080ff;
     color:white;
     border-style:solid;
     border-width:2px;
     border-color:black;
  }

  TABLE.MYTABLE
  { 
     font-family:arial;
     font-size:10pt;
     background-color:#D3ECF1;
     width:700px;
     border-style:dotted;
     border-color:#246373;
     border-width:2px;
  }

  TH.MYTABLE
  {
     font-size:10pt;
     color:white;
  }


  TR.MYTABLE
  { 
  }

  TD.MYTABLE
  {  
     font-size:10pt;
     background-color:#409040;
     color:white;
     border-style:solid;
     border-width:1px;
     text-align:center;
  }
